
/* size of my entire page */
*{margin: 0}


/* background image properties */
body html{height: 500px;}




/* navbar */
.header {
  background: rgba(81, 74, 74, 0.39);
  display: flex;
  height: 74px;
  padding-left: 6%;
  padding-right: 6%;
  gap: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



li {
  float: left;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li a:hover {
  background-color: #111111;
  transition: 0.2s ease;
}




/* welcome guys */
.tagline{color:white;
  margin-top: 60px;
  margin-left: 50px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1111113c;
position: absolute;}


/* journey start */
.journey-start{color:white;
  margin-top: 460px;
  margin-left: 800px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1111113c;
position: absolute;}



/* link for jounrey start */
a{color: white;
  text-decoration: none;}

a:hover{text-decoration: underline;}



/* background image stuff */
.bg {
  background-image: url("./images/bg-img\ \(Medium\).jpg");
  height: 700px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;

}



