/* -------------------------------------------------- */
/* size of my entire page */


*{margin: 0}

body html{height: 500px;}
/* background image properties */


.tagline{color:white;
  margin-top: 60px;
  margin-left: 50px;
  background-color: #1111113c;
position: absolute;}

.header {
  background: rgba(81, 74, 74, 0.39);
  display: flex;
  height: 74px;
  padding-left: 6%;
  padding-right: 6%;
  gap: 10px;
}

.bg {
  /* The image used */
  background-image: url("./images/bg-img\ \(Medium\).jpg");

  /* Full height */
  height: 1000px;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;

}



  /*---------------------------------------------------------------------------------------/


 /*----------------- 3. navbar elements--------------------------------------------------*/


 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}



li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li a:hover {
  background-color: #111111;
  transition: 0.2s ease;
}



